section.content
  h3 What is Tinkerbin?
  p Tinkerbin lets you play around with HTML, JavaScript and CSS without creating files or uploading to servers.
  p It also supports CoffeeScript, Sass (with Compass), Less, HAML, and more.
.bottom
  button.run
    | Run
    span.key Ctrl &crarr;
  button.save Save
