section.alert.loading
  h3 Saved!
  p Share this to your friends.
  input type='text'

// Alert goes here

section.content
  h3 What is Tinkerbin?
  p Tinkerbin lets you play around with HTML, JavaScript and CSS without creating files or uploading to servers.
  p It also supports CoffeeScript, Sass (with Compass), Less, HAML, and more.
.bottom
  a.ffc(href='http://pwdo.org/ffc')
  button.run
    | Run
    span.key Ctrl &crarr;
  button.view
    | View source
    span.key Alt &crarr;
  button.save Save
