!!! 5
!= css :error

%body.view-source
  - if @html_source.any?
    %h3 HTML
    .source
      != partial :_source, source: @html_source, type: 'html'

  - if @css_source.any?
    %h3 CSS
    .source
      != partial :_source, source: @css_source, type: 'css'

  - if @javascript_source.any?
    %h3 JavaScript
    .source
      != partial :_source, source: @javascript_source, type: 'javascript'
